<!DOCTYPE html>
<html lang="en">

<head>
      <title>Careers Page</title>
      {% include 'bootstrap.html' %}


</head>

<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
   
  
       
          <div class="row mb-5">
            <div class="col-md-6">
          <p class="lead">
            Imperdiet proin fermentum leo vel orci porta non. In hac habitasse platea dictumst vestibulum. Elementum
            sagittis vitae et leo duis. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et
            netus.
            Quis hendrerit dolor magna eget est. Enim facilisis gravida neque convallis a cras semper. Arcu dictum
            varius
            duis at. Mauris pharetra et ultrices neque. Diam phasellus vestibulum lorem sed risus ultricies. Mauris
            rhoncus
            aenean vel elit scelerisque.
        </p>
              </div>
            <div class="d-none d-md-block col-md-6">
            <img src="/static/people.jpg"
              style="height: 20rem;
              border-radius:4px"
              alt="">
              </div>
            </div>
        <h2 class="text-center mt-2 mb-4">Job Openings</h2>
        <div >
          {% for job in jobs %}
            {% include 'jobItem.html'%}
          {% endfor %}
        </div>
        <div class="text-center">
            <a href="mailto:bravo1_lima1@yahoo.com" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
    </div>
   {% include 'footer.html' %}
</body>

</html>