<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link  href="style.css" rel="stylesheet" type="text/css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Careers Page</title>
    <style>
        #banner {
            width: 100%;
            height: 20rem;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Carrer starts here </h1>
        <img class="img-fluid" id="banner"
            src="https://l00ka5z78-cs50-final-project-careers-website.geriatrichardma.repl.co/static/banner.jpg"
            alt="img">
        <h2 class="text-center mt-2 mb-4">About Careers</h2>
        <p class="lead">
            Imperdiet proin fermentum leo vel orci porta non. In hac habitasse platea dictumst vestibulum. Elementum
            sagittis vitae et leo duis. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et
            netus.
            Quis hendrerit dolor magna eget est. Enim facilisis gravida neque convallis a cras semper. Arcu dictum
            varius
            duis at. Mauris pharetra et ultrices neque. Diam phasellus vestibulum lorem sed risus ultricies. Mauris
            rhoncus
            aenean vel elit scelerisque.
        </p>
        <h2 class="text-center mt-2 mb-4">Job Openings</h2>
        <div >
          {% for job in jobs %}
            {% include 'jobItem.html'%}
          {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact Us</button>
            <p class="mt-4">Copyright 2023, Lukasz</p>
        </div>
    </div>
</body>

</html>